.cover{
  width: 100%;
}
.intro{
  background-color: none;
  position: absolute;
  top:50px;
}
body{
  text-align: center;
  background-color: aliceblue;
  margin: 0px;
font-family: 'Montserrat', sans-serif;
  color: #40514E;
}
.bio{
  padding-bottom: 10px;
  margin: auto;
  width: 60%;
  line-height: 2;
}
.home{
  position: fixed;
  color: red;
  margin: auto;
}
hr{
  padding: 10px none 10px;
  height: 0px;
  border-style: dotted none none;
  color: #c0c0c0;
  width: 6%;
  border-width: 15px;
}
h1{
  font-family: 'Qwigley', cursive;
  font-size: 6.25rem;
  color: hsl(210, 100%, 50%)

  }
  h4{
    font-family: '|Merriweather',sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
  }
  h3{
    font-family: 'Montez' ,cursive;
    font-size: 2.4rem;
    font-weight: normal;
  }
  h2{
    color: #daa520;
  }
  h2:hover{
    color: aqua;
  }
.logo{
  height: 200px;
  width: 200px;
  float: left;
  border-radius: 100px;
  margin-right: 5%;


}
.photography{
  height: 200px;
  width: 200px;
  float: left;
  border-radius: 100px;
  margin-right: 5%;
}
.drawing{
  height: 200px;
  width: 200px;
  float: right;
  border-radius: 100px;
  margin-left: 5%;
}
.chicken{
  height: 200px;
  width: 200px;
  float: right;
  border-radius: 100px;
  margin-left: 5%;
}
.skill-row{
  width: 70%;
  margin: 100px auto 100px auto;
  text-align: left;
    line-height:  2;
}
.top{
  animation-delay: 1s;
  background-color: #e0ffff;
}
.bottom-container{
  background-color: #e0ffff;

}
.pro{
position: relative;
top:10px;
right: 5px;
}
.cloud{
height: 50px;
width: 150px;
}
.mountain{
  height: 300px;
  width: 60%;

  position: relative;


}
#uppercloud{
  position: relative;
  top: 50px;
  left: 250px;
}
#lowercloud{
position: relative;
top: 250px;
right: 250px;
}
.mountain{

}
#Name:hover{
  color: 	#8a2be2;
  position:relative;
  width: 20%;
}

.footer-link{
  height: 30px;
  width: 30px;
  margin: 10px;
  padding: 10px;
}
.mail{
  height: 50px;
  width: 60px;
}
.copyright{
  color: 	#8a2be2;
}
h4{
  color: aliceblue;
}
